body{
    background-color: #CFD9D9;
}

header{
    background-color: #373640 ;
    color: #b6f7c1;
}


header nav a{
    color: #b6f7c1 !important;
}

header nav a:hover{
    color: #CFD9D9 !important;
}

main p{
    color: #312A2A;
}

h2{
    color: #312A2A;
}

h3{
    color: #312A2A;
}

footer{
    background-color: #312A2A;
}

*{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
}

.footer li{
    list-style: none;
}

.footer li a{
    color: white;
}

.footer li a:hover{
    color: #CFD9D9;
}